{% extends 'layout.html' %}

{% block content %}
<div class="mt-5">
<h2>Cart</h2>
<hr />
</div>
<div class="container">
	<div class="row mt-4">
		<div class="col-9">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-6">
								<button type="submit" class="btn btn-primary btn-sm btn-block">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button>
							</div>
						</div>
					</div>
				</div>
            {% for item in cart %}
            <hr />
            <div class="panel-body">
                <div class="row">
                    <div class="col-2"><img class="img-responsive" src="{{product.info.images[0] }}">
                    </div>
                    <div class="col-4">
                        <h4 class="product-name"><strong>{{ product.info.name }}</strong></h4><h4><small>{{ product.info.description }}</small></h4>
                    </div>
                    <div class="col-6">
                        <div class="col-6 text-right">
                            <h6><strong>{{ product.price }} <span class="text-muted">x</span></strong></h6>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control input-sm" value="1">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-link btn-">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
					<div class="card-footer">
						<div class="row">
							<div class="col-3">
								<button type="submit" class="btn btn-primary btn-sm btn-block">
									Update Cart
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-9">
							<h4 class="text-right">Total <strong>${{cart_grandtotal}}</strong></h4>
						</div>
						<form action="{{ url_for('checkout') }}">
                                <button type="submit" class="btn btn-success btn-block">
                                    Checkout
                                </button>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}